@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Muli|Poppins&display=swap');

.navbar{
    font-family: "Muli";
    font-size: 2em;
    font-weight: 900;
}
.content{
    background-image: url("../img/Officers.jpeg");
    background-position: center;
    height: 1000px;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins";
}
.title{
    font-size:3.5em;
    font-weight: 900 !important;
}
.description{
    font-size: 2.5em;
}

.background-tint {
    background-color: rgba(197, 17, 98, .33); 
    background-blend-mode: multiply;
  }