@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,700,900|Poppins:300,400,500,700,900&display=swap');

.navbar{
    font-family: "Muli";
    font-size: 2em;
}

.officer-backdrop{
    background-image: url("../img/Officers.jpeg");
    background-position: center;
    height: 800px;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins";
}

.title{
    font-size:4em;
    font-weight: 500 !important;
}

.description{
    font-size: 1.5em;
}

.background-tint {
    background-color: rgba(69,6,35, .55); 
    background-blend-mode: multiply;
}

#upcoming-events{
    background-color:white;
    height:600px;
}
#our-friends{
    background-color:white;
    height:500px;
}
.large-title{
    font-size:4rem;
    font-weight:900;
}

.footer{
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(69,6,35,1) 100%);
    height: 240px;
}

