@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,700,900|Poppins:300,400,500,700,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

.large-title {
  font-size: 4rem;
  font-weight: 700;
}

.description {
  font-size: 1.5em;
}
