.history-backdrop {
  background-image: url("../imgs/about/historybackground.jpeg");
  background-position: center;
  height: 20%;
  background-size: cover;
  background-color: rgba(69, 6, 35, 0.8);
  background-blend-mode: multiply;
}
