@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,700,900|Poppins:300,400,500,700,900&display=swap");
.navbar {
  font-family: "Muli";
  font-size: 2em;
  width: 95%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 25px;
  background: linear-gradient(
    135deg,
    rgb(116, 10, 60, 0.6),
    rgb(164, 69, 101, 0.6),
    rgb(212, 129, 143, 0.6)
  );
  animation: gradient 15s ease infinite;
  /*background: rgba(212, 129, 143, 0.3);*/
  border: 1px solid rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(4px);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Index Page */
.officer-backdrop {
  background-image: url("../imgs/officer_headshots/current/Team.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.gradient-backdrop {
  background: linear-gradient(rgba(69, 6, 35, 0.7), rgba(69, 6, 35, 0.5));
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

body {
  background-color:rgb(69, 6, 35);
}

a {
  color: inherit;
}

a:hover {
  color:rgb(69, 6, 35);
}

.title {
  font-size: 4em;
  font-weight: 500 !important;
}

.description {
  font-size: 1.5em;
}

.background-tint {
  background-color: rgba(69, 6, 35, 0.47);
  background-blend-mode: multiply;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #572d40bb; /* Red */
  color: white;
  margin-bottom: 15px;
  text-align: center;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

#upcoming-events {
  /* Changes start here */
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 25px;
  position: relative;
  /*
  background: linear-gradient(
    135deg,
    rgb(116, 10, 60, 0.6),
    rgb(164, 69, 101, 0.6),
    rgb(212, 129, 143, 0.6)
  );
  */
  background-color: rgba(255, 255, 255, 0.15);
  /*background: rgba(212, 129, 143, 0.3);*/
  border: 1px solid rgba(255, 255, 255, 0.75);
  animation: gradient 15s ease infinite;
  backdrop-filter: blur(5px);
  /* Changed end here */
}

#upcoming-events-section {
  color: #fafafa;
}

#our-friends {
  height: 100%;
}

.large-title {
  font-size: 4rem;
  font-weight: 700;
}

#slogan {
  width: 45%;
}
.our-friends-section {
  position: relative;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 25px;
  position: relative;
  /*
  background: linear-gradient(
    135deg,
    rgb(116, 10, 60, 0.6),
    rgb(164, 69, 101, 0.6),
    rgb(212, 129, 143, 0.6)
  );
  */
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.75);

  backdrop-filter: blur(5px);
  color: #fafafa;
}

.our-friends-picture {
  width: 200px;
  height: 200px;
}

@media only screen and (max-width: 768px) {
  #slogan {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .officer-backdrop {
    background-image: url("../imgs/officer_headshots/current/Team.jpg");
    background-position: center;
    background-attachment: scroll;
    height: 700px;
    background-size: cover;
    position:absolute;
  }
}

/** Footer **/

.footer {
  color: white;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 25px;
  position: relative;
  /*
  background: linear-gradient(
    135deg,
    rgb(116, 10, 60, 0.6),
    rgb(164, 69, 101, 0.6),
    rgb(212, 129, 143, 0.6)
  );
  */
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  padding: 3%;
}

@media only screen and (max-width: 768px) {
  #footer-socials {
    padding-top: 10%;
  }
}

a .fab {
  color: white;
}
/* About */
.about-nav {
  background-color: #450623;
}

.history-backdrop {
  background-image: url("../imgs/about/backdrop_1.jpeg");
  background-position: center;
  height: 20%;
  background-size: cover;
  background-color: rgba(69, 6, 35, 0.8);
  background-blend-mode: multiply;
  border-radius: 20px;
  overflow: hidden;
}

.ourevents-backdrop {
  background-image: url("../imgs/about/backdrop_2.jpeg");
  background-position: center;
  height: 20%;
  background-size: cover;
  background-color: rgba(69, 6, 35, 0.8);
  background-blend-mode: multiply;
  border-radius: 20px;
  overflow: hidden;
}

.about-title {
  font-family: "Muli";
  font-weight: 700;
  color: white;
  text-align: center;
}

.about-info {
  font-family: "Muli";
  color: white;
  font-size: 1.4em;
}
/* Team Page */
#currentofficers {
  background-color: transparent;
  color: white;
}

#pastofficers {
  background-color: transparent;
  color: white;
}

#officer-div {
  color: white;
  border-radius: 25px;
  width: 95%;
  position: relative;
  /*
  background: linear-gradient(
    135deg,
    rgb(116, 10, 60, 0.6),
    rgb(164, 69, 101, 0.6),
    rgb(212, 129, 143, 0.6)
  );
  */
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
}

.officer-cards {
  color: black;
}

.officer-headshot {
  object-fit: cover;
  object-position: 50% 50%;
  width: 10em;
  height: 9em;
}

.offcer-title {
  font-size: 0.9em !important;
  font-family: "Muli";
  color: black;
}

.officer-description {
  color: black;
  font-size: 0.8em;
  font-family: "Muli";
}

#ouradvisor {
  color: white;
  border-radius: 25px;
  width: 100%;
  position: relative;
  /*
  background: linear-gradient(
    135deg,
    rgb(116, 10, 60, 0.6),
    rgb(164, 69, 101, 0.6),
    rgb(212, 129, 143, 0.6)
  );
  */
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  color: white;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.6;
  }
}

fade:not(.show) {
  opacity: 1 !important;
}

.grayout {
  opacity: 0.05;
  /* Real browsers */
  filter: alpha(opacity=5);
  /* MSIE */
}

/** Events **/

.event-card {
  width: 100%;
  border-radius: 20px;
  border-width: 10px;
  overflow: hidden;
  border: #fafafa;
}
.event-card:hover {
  cursor: pointer;
}
.event-card-content {
  color: white;
}

.event-card-container {
  position: relative;
  border-radius: inherit;
}

.event-card-background {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  top: 0%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  background-color: rgb(69, 6, 35);
  color: #fafafa;
}

#event_description {
  height: 30%;
  vertical-align: middle;
  margin-bottom: 0;
  margin-top: 20px;
}

#rsvp-container{
  background-color: rgb(212, 129, 143);
}

#source-comingsoon {
  color: rgb(212, 129, 143);
}

#events-loading {
  height: 316px;
  width: 1000px;
}
#events-comingsoon {
  height: 316px;
}
#sourcecode-loading {
  height: 316px;
}
#sourcecode-comingsoon {
  height: 316px;
}
#source-code-section {
  color: white;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 25px;
  position: relative;
  /*
  background: linear-gradient(
    135deg,
    rgb(116, 10, 60, 0.6),
    rgb(164, 69, 101, 0.6),
    rgb(212, 129, 143, 0.6)
  );
  */
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
}

/*** Join Us****/
.joinus-backdrop {
  background-image: url("../imgs/joinus/joinus-banner.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container-fluid {  
  padding: 3%;
}

#join-us-div {
  position: relative;
  color: white;
  width: 95%;
  padding-top: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 25px;
  position: relative;
  /*
  background: linear-gradient(
    135deg,
    rgb(116, 10, 60, 0.6),
    rgb(164, 69, 101, 0.6),
    rgb(212, 129, 143, 0.6)
  );
  */
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
}

.joinus-description {
  text-align: center;
}
.linklist-container {
  margin-top: 10%;
  text-align: center;
  vertical-align: middle;
}
.linklist {
  padding: 0;
  vertical-align: middle;
}
.linklist li {
  list-style-type: none;
  font-size: 1.5em;
  color: rgb(69, 6, 35);
  width: 100%;
}
.linklist li > a {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  color: rgb(69, 6, 35)
}
.linklist li > a:hover {
  text-decoration: none;
}
.hide {
  display: none;
}
@media only screen and (max-width: 768px) {
  .linklist-container {
    border-right: none;
  }

  .joinus-backdrop {
    background-attachment: scroll;
  }
}

/*family=Exo:400,700');*/

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(212, 129, 143, 0.6);
    animation: animate 15s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(-2000px) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(0px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}