@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,700,900|Poppins:300,400,500,700,900&display=swap");
.navbar {
    font-family: "Muli";
    font-size: 2em;
}

.officer-backdrop {
    background-image: url("../imgs/Officers.jpeg");
    background-position: center;
    background-attachment: fixed;
    height: 700px;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins";
}

.title {
    font-size: 4em;
    font-weight: 500 !important;
}

.description {
    font-size: 1.5em;
}

.background-tint {
    background-color: rgba(69, 6, 35, 0.55);
    background-blend-mode: multiply;
}

#upcoming-events {
    background-color: white;
    height: 100%;
}

#our-friends {
    height: 100%;
}

.large-title {
    font-size: 4rem;
    font-weight: 700;
}

#slogan {
    width: 45%;
}

@media only screen and (max-width: 768px) {
    #slogan {
        width: 100%;
    }
}


/** Footer **/

.footer {
    color: white;
    background: rgb(0, 0, 0);
    background: linear-gradient( 0deg, rgba(0, 0, 0, 1) 0%, rgba(69, 6, 35, 1) 100%);
    height: 280px;
}

@media only screen and (max-width: 768px) {
    #footer-socials {
        padding-top: 10%;
    }
}

.our-friends-picture {
    width: 200px;
    height: 200px;
}

a .fab {
    color: white;
}

.about-nav {
    background-color: #450623;
}

.history-backdrop {
    background-image: url("../imgs/about/backdrop_1.jpeg");
    background-position: center;
    height: 20%;
    background-size: cover;
    background-color: rgba(69, 6, 35, 0.8);
    background-blend-mode: multiply;
}

.ourevents-backdrop {
    background-image: url("../imgs/about/backdrop_2.jpeg");
    background-position: center;
    height: 20%;
    background-size: cover;
    background-color: rgba(69, 6, 35, 0.8);
    background-blend-mode: multiply;
}

.about-title {
    font-family: "Muli";
    font-weight: 700;
    color: white;
}

.about-info {
    font-family: "Muli";
    color: white;
    font-size: 1.4em;
}

#currentofficers {
    background-color: rgba(69, 6, 35, 1);
    color: white;
}

#pastofficers {
    background-color: rgba(69, 6, 35, 1);
    color: white;
}

.officer-cards {
    color: black;
}

.officer-headshot {
    object-fit: cover;
    object-position: 50% 50%;
    width: 10em;
    height: 9em;
}

.offcer-title {
    font-size: 0.9em !important;
    font-family: "Muli";
    color: black;
}

.officer-description {
    color: black;
    font-size: 0.8em;
    font-family: "Muli";
}

#ouradvisor {
    background-color: rgba(69, 6, 35, 1);
    color: white;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 0.6;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 0.6;
    }
}

fade:not(.show) {
    opacity: 1 !important;
}

.our-friends-section {
    background-color: #fafafa;
}

#source-code-section {
    background-color: #fafafa;
}

@media only screen and (max-width: 768px) {
    .officer-backdrop {
        background-image: url("../imgs/Officers.jpeg");
        background-position: center;
        background-attachment: scroll;
        height: 700px;
        background-size: cover;
    }
}

.grayout {
    opacity: 0.05;
    /* Real browsers */
    filter: alpha(opacity=5);
    /* MSIE */
}


/** Events **/

.event-card {
    width: 100%;
    height: 100%;
}

.event-card-content {
    color: white;
}

.event-card-container {
    position: relative;
    height: 100%;
}

.event-card-background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    background-color: #13020a;
    color: #fafafa;
}

.event-card-active {
    height: 1000%;
    width: 1000%;
}

.hide {
    display: none;
}